<!DOCTYPE html>
<html>
  <head>
    <title>EmailManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<!-- NAVBAR -->
		<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
				<div class="[ container ]">
					<div class="[ navbar-header ]">
						<button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="[ sr-only ]">Toggle navigation</span>
							<span class="[ icon-bar ]"></span>
							<span class="[ icon-bar ]"></span>
							<span class="[ icon-bar ]"></span>
						</button>
						<div class="[ animbrand ]">
							<a class="[ navbar-brand ][ animate ]" href="#">Email App</a>
						</div>
					</div>
	
					<div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
						<ul class="[ nav navbar-nav navbar-right ]">
							<li class="[ visible-xs ]">
								<form action="" method="GET" role="search">
									<div class="[ input-group ]">
										<input type="text" class="[ form-control ]" name="q" placeholder="Search for . . .">
										<span class="[ input-group-btn ]">
											<button class="[ btn btn-primary ]" type="submit"><span class="[ glyphicon glyphicon-search ]"></span></button>
											<button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
										</span>
									</div>
								</form>
							</li>
							<% if session[:user_id]%>
							<li><%= link_to :Home , :home, class: "nav_links" %></li>
							<li><%= link_to :Profile , :profile, class: "nav_links" %></li>
							<li><%= link_to :Setting , :setting, class: "nav_links" %></li>
							<li><%= link_to :Logout , :logout, class: "nav_links" %></li>	
							<% else %>
							<li><%= link_to :Signup , :signup, class: "nav_links"%></li>
							<li><%= link_to :Login , :login, class: "nav_links"%></li>	
							<% end %>
							<li><a href="#" class="animate">About</a></li>
							<li class="[ hidden-xs ]"><a href="#toggle-search" class="[ animate ]"><span class="[ glyphicon glyphicon-search ]"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="[ bootsnipp-search animate ]">
					<div class="[ container ]">
						<form action="" method="GET" role="search">
							<div class="[ input-group ]">
								<input type="text" class="[ form-control ]" name="q" placeholder="Search for . . . and hit enter">
								<span class="[ input-group-btn ]">
									<button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</nav>
		<div class="container">
			<!-- NOTIFICATION OR ALERT AREA -->
			<div class="row">
				<div class="col col-lg-12">
			
						<% if flash[:color] == "valid" %>
							<div class="alert alert-success fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a>
								<%= flash[:notice] %>
							</div>
						<% end %>
						
						<% if flash[:color] == "invalid"%>
							<div class="alert alert-danger fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a>
								<%= flash[:notice] %>
							</div>
						<% end %>
				</div>
			</div>
			<!-- MAIN CONTENT -->
			<%= yield %>
		</div>
  </body>
</html>
